

/*small Devices*/

@media screen and (min-width:992px){
    .second-card{
        transform: translateY(-20px);
        box-shadow: 5px 5px 20px 10px rgba(0, 0, 0, 0.3);
    }
}

@media screen and (min-width:480px){
    .card{
        margin-bottom:40px;
    }
    .card:hover{
        transform: translateY(-10px);
        box-shadow: 5px 5px 20px 10px rgba(0, 0, 0, 0.3);
    }
}

@media screen and (max-width:768px){
    .pricing,.happyclients{
        height:auto!important;
    }
    .nav-item{
        text-align: center!important;
    }

    .footer-div:nth-child(2){
        text-align:left!important;
      }
}

  /* Media Queries */
  
  @media (min-width: 768px) {
    .min-container {
      max-width: 650px;
    }
  }

  @media screen and (max-width:992px){
      .pricing,.happyclients{
        height:auto!important;
    }
    .navbar-collapse .nav-item a{
        text-align: center;
        background: rgba(200, 200, 200, 0.5)!important;
        box-shadow: rgba(0, 0, 0, 0.1) 0 5px 40px, rgba(255, 137, 3, 0.2) 0 5px 10px;
        border-bottom:1px groove #d8d8d8!important;
        color:#fff!important;
        z-index:22;
    }
    .navbar-collapse .nav-item a:hover{
        border-bottom:1px groove rgb(255, 0, 0)!important;
    }
  }
