
/* Globla styling */

*{margin:0;padding: 0;box-sizing: border-box;
    font-family: 'Poppins', sans-serif;}

a{text-decoration: none; }
a:hover{text-decoration: none;}
li{list-style-type: none;}
p{
    font-size: 0.9rem;
    line-height: 1.6;
    font-weight: 400;
    color:#606060;
}

html{
    scroll-behavior: smooth;
}

h2{
    font-size:1rem;
    margin:20px 0 15px 0;
    font-weight: bold;
    line-height: 1.1;
    word-spacing: 4px;
}

i{
    color:#2fccd0!important;
}

h1:hover{
    position: relative;
    font-family: Impact, sans-serif;
    font-size: 45px;
    letter-spacing: 2px;
    background: linear-gradient(160deg, rgb(50, 197, 255), rgb(255, 0, 98), #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 174, 0, 0);
    cursor: pointer;
}

@keyframes animate {
    0% {
      background-position: -250%;
    }
    50%{
        background-position: 100%;
    }
    70%{
        background-position: 300;
    }
    100% {
      background-position: 500%;
    }
  }


/* Header styling */

.header{
    width:100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,168,255,0.3),rgba(0,168,255,0.3)), url(../images/image-1.jpg);
    background-attachment: fixed;
    background-position: 50% 70%;
    background-size: cover; 
    position: relative;
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
    clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
}

.header:before{
    z-index:-1;
    content: "";
    position: absolute;
    top:0%;
    bottom:0%;
    left:0;
    right:0;
    opacity: 0.4;
    background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
}

.nav-item a{
    font-weight: bold;
    color:#fff!important;
}
.nav-item a:hover{
    color:#000!important;
}

ul li .nav-item active{
    color:#000!important;
}

.header-section{
    width:100%;
    height:inherit;
    color:#fff;
    text-align: center;
    position: relative;
}
.center-div{
    position: absolute;
    width:100%;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.header-buttons a {
    border:1px solid #fff;
    border-radius:100px;
    margin:0 5px;
    padding:12px 35px;
    outline:none;
    color:#fff;
    transition: 0.2s ease;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    
}


.header-buttons a:hover{
    color:#fff;
    background: #50d1c0;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0 5px 40px, rgba(0, 0, 0, 0.1) 0 5px 10px;
    
}

.center-div p{
    font-size: 1.3rem;
    padding:10px 0 20px 0;
    color:#fff;
}

/* ************ Choose Us Styling Part Starts *************** */

.choose-us-wrapper{
    width:100%;
    height: auto;
    margin:100px 0;
    text-align:center;
}


.navbar-collapse .nav-item a:hover{
    color:#000!important;
}

.choose-us-div{
    background: #fff;
    border: medium none;
    padding:50px!important;
    border-radius:3px;
    transition: 0.3s;
    text-transform: uppercase;
}

.choose-us-div:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    cursor: pointer;
    transform: translateY(-20px);
}


/* ************ Choose Us Styling Part Ends *************** */

/* Offer Services section styling starts */

.serviceoffers{
    background: #f7f7f9;
    padding:50px 0;
    margin-bottom:50px; 
}
.headings{
    margin-bottom:50px;
}
.headings h1{
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
}

.names h1{
    color:#2e2e2e;
    font-size: 0.9rem;
    text-transform: capitalize;
    font-weight: bold;
}

.servicediv h2{
    font-size: 0.9rem;
    margin:20px 0 15px 0;
    font-weight: bold;
    line-height: 1.1;
    word-spacing: 4px;
}

.service-icons{
  display: flex;
  justify-content: center;
  align-items:center;
}
.progress{
    height: 0.7rem!important;
    margin-bottom:26px!important;
}

/* Offer Services section styling ends */


/* Project Done section Styling */

    .project-work{
        margin:100px 0;
    }
    .project-work h1{
        font-size:2rem;
        text-align:center;
    }

/* Project Done section Styling End */

/* Our Pricing Section */

    .pricing{
        width:100%;
        height:100vh;
        padding:50px;
        background: linear-gradient(160deg, #16c9f6 55%, #fff 0%);
    }

    .money{
        font-size:40px;
        line-height: 1;
        color:#606060;
    }

    .card:hover{
        cursor:pointer;
        transition: 0.2s ease;
        transform: translateY(-20px);
        box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    }

    .card:hover .card-header, .card:hover .money{
        color:#50d1c0;
    }

    .card-header{
        font-size: 1.6rem;
        font-weight: bold;
        background: rgb(255, 255, 255)!important;
        padding:25px 0px!important;
    }
    
    .card-body{
        padding:30px 0px!important;
    }

    .card-body li{
        margin:10px 0;
        font-weight: 400;
        font-size: 15px;
        line-height: 1.6;
        color:#606060;
    }

    .card-footer{
        background: #fff!important;
        padding:30px 0!important;
    }

    .card-footer a {
        border:1px solid #50d1c0;
        border-radius:100px;
        margin:0 5px;
        padding:12px 35px;
        outline:none;
        color:#50d1c0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.4;
        text-align: center;
    }

    .card-footer a:hover{
        color:#fff;
        background: #50d1c0;
        text-decoration: none;
        box-shadow: rgba(0, 0, 0, 0.1) 0 5px 40px, rgba(0, 0, 0, 0.1) 0 5px 10px;
    }
 



/* Our Pricing Section End */


/* Our Customer Feedback Section */

    .happyclients{
        width:100%;
        height:100vh;
        padding:80px 0;
    }

    .box{
        text-align: center;
        border:1px solid rgba(0,0,0,0.3);
        box-shadow: rgba(0, 0, 0, 0.1) 0 5px 40px, rgba(0, 0, 0, 0.1) 0 5px 10px;
        border-radius: 2px;
        transition: 0.3s ease;
    }

    .box h1{
        font-size:1.1rem;
        font-weight: 600;
        color:#000;
        margin-bottom:10px;

    }

    .box h2{
        font-size:0.8rem;
        font-weight: 400;
        color: #666666;
        margin-bottom: 20px;
    }

    .box a:after{
        content: "\01F354";
        font-family: fontawesome;
        width:40px;
        height:40px;
        border-radius:50%;
        border:liner-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
        color:#fff;
        position:absolute;
        top:120%;
        left:70%;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box:hover{
        background: #16c9f6;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.1) 0 5px 40px, rgba(0, 0, 0, 0.1) 0 5px 10px!important;
    }

    .box:hover p{
        color:#fff;
    }

    .carousel-indicators{
        position: absolute;
        right:0;
        bottom:-60px!important;
    }

    .carousel-indicators li{
        background-color: #16c9f6!important;
    }

    .box img{
        width:40%;
        height:40%;
        border-radius: 50%;
        border:1px solid #16c9f6!important;
        margin-top:10px;
    }


/* Our Customer Feedback Section End */

/* Contact Us Section */

.card-panel {
    box-shadow: rgba(0, 0, 0, 0.1) 0 5px 40px, rgba(0, 0, 0, 0.1) 0 5px 10px;
    border-bottom: 10px solid transparent;
    transition: box-shadow 0.25s;
    padding: 20px;
    margin: 0.5rem 0 1rem;
    border-radius: 2px;
    background-color: #fff;
  }

  /* Font Awesome Icons */
  
  .form-group a i {
    font-family: FontAwesome;
    margin: 0 auto;
    font-size: 5rem;
    font-style: normal;
  }
  
  .min-container .card-panel form .fa {
    top: 13px;
    left: 1rem;
  }

  input.form-control,textarea.form-control{
    border: none;
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-weight: 300;
    color: #6e6b6b;
    border-bottom:1px solid #16c9f6;
    box-shadow: rgba(0, 0, 0, 0.1) 0 5px 40px, rgba(0, 0, 0, 0.1) 0 5px 10px;
    transition: box-shadow 0.25s;
    
  }
  
  input.form-control:focus, textarea.form-control:focus{
   box-shadow: none!important;
   border-color: palevioletred;
  }

  input[type="text"],input[type="email"]{
      padding-left:50px;
      background: transparent!important;
  }
#feedback{
    padding-left:50px;
    background: transparent!important;
}

  input:focus::-webkit-input-placeholder{
    font-size: .75em;
    position: relative;
    top: -15px; 
    transition: 0.2s ease-out;
}

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
    transition: 0.2s ease-in;
}


/* Contact Us Section End */

/* Newsletter Section */

.newsletter{
    width:100%;
    height:auto;
    margin:80px 0;
}

.news-input{
    min-width:9.37rem;
    min-height:2.2rem;
}
.input-group-button button{
    min-width:2rem;
    min-height: 2.2rem;
}

 .input-group-button button{
     border-radius:0 100px 100px 0!important;
 }

/* Newsletter Section Ends */

/* Footer section */

.footersection{
    width:100%;
    height:auto;
    padding:70px 0 20px 0;
    background: #00abff;
    position: relative;
}

.footersection p{
    color:#fff;
}

.footersection li a{
    font-size: 0.9rem;
    line-height: 1.6;
    font-weight: 400;
    color:#fff;
    text-transform: capitalize;
    list-style-type: none;
    text-decoration: none;
}

.footersection .news-input{
    background-color: #fff!important;
}
.footersection i.fa-envelope{
    color:#0275d8!important;
    z-index:2;
}

.footersection h3{
    text-transform: uppercase;
    color:#fff;
    margin-bottom:1.6rem;
    font-size: 1.2rem!important;
    font-weight: 600;
    text-shadow: 0 2px 5px rgba(0,0,0,0.4);
}

#myBtn{
    display: none;
    position: fixed;
    bottom:20px;
    right:10px;
    z-index:99;
    border:none;
    color:#fff!important;
    cursor: pointer;
    background: #00abff;
    padding:10px;
    border-radius:10px;
}

#myBtn:hover{
    background: #606060;
}

.footer-div{
    margin:30px 0;
}



/* Footer section Ends */
